USE [master]
GO
/****** Object:  Database [Restaurant_Management]    Script Date: 7/1/2022 7:05:36 PM ******/
CREATE DATABASE [Restaurant_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Restaurant_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Restaurant_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant_Management]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NULL,
	[AMOUNT] [int] NULL,
	[VAT] [float] NULL,
	[PRICE] [float] NULL,
	[TOTALPRICE] [float] NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chef]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chef](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](30) NULL,
	[NAME] [varchar](30) NULL,
	[DATE] [date] NULL,
	[ADDRESS] [varchar](30) NULL,
	[PHONE] [varchar](30) NULL,
	[SALARY] [float] NULL,
	[ALLOWANCE] [float] NULL,
 CONSTRAINT [PK__chef__3214EC27B24335C5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[CMND] [varchar](30) NULL,
	[ADDRESS] [varchar](30) NULL,
	[PHONE] [varchar](30) NULL,
	[POINT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dish]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[AMOUNT] [int] NULL,
	[VAT] [float] NULL,
	[PRICE] [float] NULL,
	[TOTALPRICE] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](30) NULL,
	[NAME] [varchar](30) NULL,
	[DATE] [date] NULL,
	[ADDRESS] [varchar](30) NULL,
	[PHONE] [varchar](30) NULL,
	[SALARY] [float] NULL,
 CONSTRAINT [PK__employee__3214EC27245F658B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import](
	[ID] [int] NOT NULL,
	[IMPORT_ID] [int] NULL,
	[DATE] [date] NULL,
	[NAME] [varchar](30) NULL,
	[AMOUNT] [int] NULL,
	[VAT] [float] NULL,
	[PRICE] [float] NULL,
	[TOTALPRICE] [float] NULL,
 CONSTRAINT [PK__import__3214EC273529525D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredient]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient](
	[ID] [int] NOT NULL,
	[NAME] [varchar](30) NULL,
	[PLACE] [varchar](30) NULL,
	[UNIT] [float] NULL,
	[PRICE] [float] NULL,
 CONSTRAINT [PK__ingredie__3214EC27F192714F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manager]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manager](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](30) NULL,
	[NAME] [varchar](30) NULL,
	[DATE] [date] NULL,
	[ADDRESS] [varchar](30) NULL,
	[PHONE] [varchar](30) NULL,
	[SALARY] [float] NULL,
	[BONUS] [float] NULL,
	[ALLOWANCE] [float] NULL,
 CONSTRAINT [PK__manager__3214EC27D757AD7E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[DATE] [varchar](50) NULL,
	[ADDRESS] [varchar](50) NULL,
	[PHONE] [varchar](50) NULL,
	[SALARY] [float] NULL,
	[JOB] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statistic]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statistic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[AMOUNT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stocker]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stocker](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](30) NOT NULL,
	[NAME] [varchar](30) NOT NULL,
	[DATE] [date] NOT NULL,
	[ADDRESS] [varchar](30) NOT NULL,
	[PHONE] [varchar](30) NOT NULL,
	[SALARY] [float] NULL,
	[ALLOWANCE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tables]    Script Date: 7/1/2022 7:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tables](
	[ID] [int] NOT NULL,
	[DATE] [date] NULL,
	[NAME] [varchar](30) NULL,
	[AMOUNT] [int] NULL,
	[PRICE] [float] NULL,
 CONSTRAINT [PK__tables__3214EC273A3F27F0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill] ADD  CONSTRAINT [DF__bill__VAT__3F466844]  DEFAULT (NULL) FOR [VAT]
GO
ALTER TABLE [dbo].[bill] ADD  CONSTRAINT [DF__bill__PRICE__403A8C7D]  DEFAULT (NULL) FOR [PRICE]
GO
ALTER TABLE [dbo].[bill] ADD  CONSTRAINT [DF__bill__TOTALPRICE__412EB0B6]  DEFAULT (NULL) FOR [TOTALPRICE]
GO
ALTER TABLE [dbo].[chef] ADD  CONSTRAINT [DF__chef__SALARY__2F10007B]  DEFAULT (NULL) FOR [SALARY]
GO
ALTER TABLE [dbo].[chef] ADD  CONSTRAINT [DF__chef__ALLOWANCE__300424B4]  DEFAULT (NULL) FOR [ALLOWANCE]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF__customer__POINT__38996AB5]  DEFAULT (NULL) FOR [POINT]
GO
ALTER TABLE [dbo].[dish] ADD  CONSTRAINT [DF__dish__PRICE__49C3F6B7]  DEFAULT (NULL) FOR [PRICE]
GO
ALTER TABLE [dbo].[dish] ADD  CONSTRAINT [DF__dish__TOTALPRICE__4AB81AF0]  DEFAULT (NULL) FOR [TOTALPRICE]
GO
ALTER TABLE [dbo].[employee] ADD  CONSTRAINT [DF__employee__SALARY__2C3393D0]  DEFAULT (NULL) FOR [SALARY]
GO
ALTER TABLE [dbo].[import] ADD  CONSTRAINT [DF__import__PRICE__46E78A0C]  DEFAULT (NULL) FOR [PRICE]
GO
ALTER TABLE [dbo].[import] ADD  CONSTRAINT [DF__import__TOTALPRI__47DBAE45]  DEFAULT (NULL) FOR [TOTALPRICE]
GO
ALTER TABLE [dbo].[ingredient] ADD  CONSTRAINT [DF__ingredient__UNIT__3C69FB99]  DEFAULT (NULL) FOR [UNIT]
GO
ALTER TABLE [dbo].[ingredient] ADD  CONSTRAINT [DF__ingredien__PRICE__3D5E1FD2]  DEFAULT (NULL) FOR [PRICE]
GO
ALTER TABLE [dbo].[manager] ADD  CONSTRAINT [DF__manager__SALARY__276EDEB3]  DEFAULT (NULL) FOR [SALARY]
GO
ALTER TABLE [dbo].[manager] ADD  CONSTRAINT [DF__manager__BONUS__286302EC]  DEFAULT (NULL) FOR [BONUS]
GO
ALTER TABLE [dbo].[manager] ADD  CONSTRAINT [DF__manager__ALLOWAN__29572725]  DEFAULT (NULL) FOR [ALLOWANCE]
GO
ALTER TABLE [dbo].[stocker] ADD  DEFAULT (NULL) FOR [SALARY]
GO
ALTER TABLE [dbo].[stocker] ADD  DEFAULT (NULL) FOR [ALLOWANCE]
GO
ALTER TABLE [dbo].[tables] ADD  CONSTRAINT [DF__tables__PRICE__440B1D61]  DEFAULT (NULL) FOR [PRICE]
GO
USE [master]
GO
